---
title: About
layout: base
---

section.section.sub-30days-intro
  .section-content
    .grid.height-full.align-middle: .grid-items: .col
      h1 
        | 30 Days of Lettering

section.section.sub-30days-tiles
  .grid.wrapped.spaced: .grid-items
    .col: img(src=site.url + "images/30days/01.jpg")
    .col: img(src=site.url + "images/30days/02.jpg")
    .col: img(src=site.url + "images/30days/03.jpg")
    .col: img(src=site.url + "images/30days/04.jpg")
    .col: img(src=site.url + "images/30days/05.jpg")
    .col: img(src=site.url + "images/30days/06.jpg")
    .col: img(src=site.url + "images/30days/07.jpg")
    .col: img(src=site.url + "images/30days/08.jpg")
    .col: img(src=site.url + "images/30days/09.jpg")
    .col: img(src=site.url + "images/30days/10.jpg")
    .col: img(src=site.url + "images/30days/11.jpg")
    .col: img(src=site.url + "images/30days/12.jpg")
    .col: img(src=site.url + "images/30days/13.jpg")
    .col: img(src=site.url + "images/30days/14.jpg")
    .col: img(src=site.url + "images/30days/15.jpg")
    .col: img(src=site.url + "images/30days/16.jpg")
    .col: img(src=site.url + "images/30days/17.jpg")
    .col: img(src=site.url + "images/30days/18.jpg")
    .col: img(src=site.url + "images/30days/19.jpg")
    .col: img(src=site.url + "images/30days/20.jpg")
    .col: img(src=site.url + "images/30days/21.jpg")
    .col: img(src=site.url + "images/30days/22.jpg")
    .col: img(src=site.url + "images/30days/23.jpg")
    .col: img(src=site.url + "images/30days/24.jpg")
    .col: img(src=site.url + "images/30days/25.jpg")
    .col: img(src=site.url + "images/30days/26.jpg")
    .col: img(src=site.url + "images/30days/27.jpg")
    .col: img(src=site.url + "images/30days/28.jpg")
    .col: img(src=site.url + "images/30days/29.jpg")
    .col: img(src=site.url + "images/30days/30.jpg")
