---
title: 'Kelly Tomlinson - Experience Designer'
layout: base
---

- var projects = getCollection("projects").toJSON()
- var figures = getCollection("projectFigures").toJSON()

section.section.sub-megaHello
  .section-content
    .grid.height-full.align-middle: .grid-items: .col
      .h1.sub-huge
        | Oh,
        br
        | hello.

section.section.sub-intro
  .section-content
    .grid.height-full.align-middle: .grid-items: .col
      h1 I’m Kelly Tomlinson.
      p With degrees in both design and hospitality management,  I believe in designing holistic experiences that cross through, around, and in between every channel, device, and physical touch.
      br
      a.button.sub-solid.sub-large(href="mailto:hi@kellytdesign.com?subject=Hello!")
        .grid.spaced.align-middle: .grid-items
          .col
            img(src=site.url + "images/icon-envelope.svg")
          .col h<span class="lowercase">i</span>@kellytdesign.com


section.section.sub-projects.sub-secondary
  .section-content.sub-wide
    h1.align-center Folks I've worked with
    .grid.wrapped.spaced: .grid-items
      .col.pad-btm
        img(src=site.url + "images/logos/lincoln-logo.svg")
      .col.pad-btm
        img(src=site.url + "images/logos/ford-logo.svg")
      .col.pad-btm
        img(src=site.url + "images/logos/qt-logo.svg")
      .col.pad-btm
        img(src=site.url + "images/logos/dsg-logo.svg")
      .col.pad-btm
        img(src=site.url + "images/logos/liveblue-logo.svg")
      .col.pad-btm
        img(src=site.url + "images/logos/1mc-logo.svg")
      .col.pad-btm
        img(src=site.url + "images/logos/swappa-logo.svg")
      .col.pad-btm
        img(src=site.url + "images/logos/usc-logo.svg")
      .col.pad-btm
        img(src=site.url + "images/logos/zaarly-logo.svg")

section.section.sub-intro
  .section-content
    .grid.height-full.align-middle: .grid-items: .col
      h1 Honorable Mentions
      p In 2014 I founded <a href="http://kc.coffeedesign.org/">Coffee & Design</a>, a not-for-profit on a mission to inspire, connect, and grow the professional design community in Kansas City. I have been a co-chair of <a href="http://www.kcdesignweek.org/">KC Design Week</a> since 2016, serving on the committee since 2015. Previously my involvement was in the KC startup and entrepreneur community with a Startup Weekend win in 2012. I’ve had the honor to speak at the 2015 Gas Can Creative Conference,  2015 Middle of the Map Fest Forum, and the 2014 UP Global Summit. In 2017 I was named <a href="http://inkunder30.com/kelly-tomlinson/">Ink Magazine’s 30 under 30</a>.


footer.section.sub-footer
  .section-content
    ul.social
      .grid.spaced.inline: .grid-items
        li.col: a.social-link.sub-twitter(href="http://twitter.com/kellytdesign" target="_blank"): span(class='hidden') Twitter
        li.col: a.social-link.sub-dribbble(href="http://dribbble.com/kellytdesign" target="_blank"): span(class='hidden') Dribbble
        li.col: a.social-link.sub-linkedin(href="https://www.linkedin.com/pub/kelly-tomlinson/13/453/3a9" target="_blank"): span(class='hidden') Linkedin
        li.col: a.social-link.sub-instagram(href="http://instagram.com/kellytdesign" target="_blank"): span(class='hidden') Instagram
    br
    hr
    br
    .section-content.sub-narrow

      p
        span.currentYear ©
        | Kelly Tomlinson // KELLYTDESIGN, LLC.
