---
title: "Lettering, Stickies, & Thirty Days"
layout: base
---

section.section.sub-30days-intro
  .section-content.sub-narrow
    .grid.height-full.align-middle: .grid-items: .col
      h1=document.title
      p Handlettering has always been one of those “one day” things for me. You know what I’m talking about: one of those things that you’re both so in awe of and yet so envious of, and you tell yourself that “one day” you’ll do something about it.
      p For years, I sucked at doing something about it. No amount of new pens, sketchbooks, or bursts of inspiration ever translated to ink on paper.

section.section.sub-30days-tiles
  .grid.wrapped.spaced: .grid-items
    .col: img(src=site.url + "images/30days/01.jpg")
    .col: img(src=site.url + "images/30days/02.jpg")
    .col: img(src=site.url + "images/30days/03.jpg")
    .col: img(src=site.url + "images/30days/04.jpg")
    .col: img(src=site.url + "images/30days/05.jpg")
    .col: img(src=site.url + "images/30days/06.jpg")
    .col: img(src=site.url + "images/30days/07.jpg")
    .col: img(src=site.url + "images/30days/08.jpg")
    .col: img(src=site.url + "images/30days/09.jpg")
    .col: img(src=site.url + "images/30days/10.jpg")
    .col: img(src=site.url + "images/30days/11.jpg")
    .col: img(src=site.url + "images/30days/12.jpg")
    .col: img(src=site.url + "images/30days/13.jpg")
    .col: img(src=site.url + "images/30days/14.jpg")
    .col: img(src=site.url + "images/30days/15.jpg")
    .col: img(src=site.url + "images/30days/16.jpg")
    .col: img(src=site.url + "images/30days/17.jpg")
    .col: img(src=site.url + "images/30days/18.jpg")
    .col: img(src=site.url + "images/30days/19.jpg")
    .col: img(src=site.url + "images/30days/20.jpg")
    .col: img(src=site.url + "images/30days/21.jpg")
    .col: img(src=site.url + "images/30days/22.jpg")
    .col: img(src=site.url + "images/30days/23.jpg")
    .col: img(src=site.url + "images/30days/24.jpg")
    .col: img(src=site.url + "images/30days/25.jpg")
    .col: img(src=site.url + "images/30days/26.jpg")
    .col: img(src=site.url + "images/30days/27.jpg")
    .col: img(src=site.url + "images/30days/28.jpg")
    .col: img(src=site.url + "images/30days/29.jpg")
    .col: img(src=site.url + "images/30days/30.jpg")
section.section.sub-30days-intro
  .section-content.sub-narrow
    a.button.sub-outline-dark(href=site.url) kellytdesign.com
  